:host{
    display: flex;
    align-items: center;
    justify-content: center;   
    margin-top: 20px;
    flex-direction: column;
}

app-datepicker{
    margin-left: 20px;
    margin-right: 20px;
}

.settings{
    display: flex;
    align-items: center;
}

mat-card-content{
    display: flex;
    justify-content: end;
    align-items: center;
}

.table-container{
    width: 100%;
    padding-bottom: 20px;
}