<!-- <mat-form-field appearance="fill">
    <mat-label>{{title}}</mat-label>
    <input matInput [max]="maxDate"  [matDatepicker]="dp" [formControl]="date" (dateChange)="handleDateChange($event)">
    <mat-hint>{{dateFormat}}</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
</mat-form-field> -->


<mat-form-field>
    <!-- <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date & time" [(ngModel)]="date"> -->
    <!-- (dateChange)="handleDateChange2($event)" (change)="handleDateChange3($event)" -->
    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date & time" [formControl]="date" />
    
    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>

    <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
</mat-form-field>