
#tableHeader{
    
    border-radius: 0;
    mat-card-content{
        display: flex;
        justify-content: end;
    }
}


.datepicker-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.refresh-button-container{
    & button{
        margin-left: 10px;
    }   
}

.table-container{
    width: 100%;
    padding-bottom: 20px;
}