<div>

  <table mat-table [dataSource]="locations" class="mat-elevation-z8">

    <ng-container matColumnDef="locationId">
      <th mat-header-cell *matHeaderCellDef> locationId </th>
      <td mat-cell *matCellDef="let element"> {{element.locationId}} </td>
    </ng-container>


    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef> isActive </th>
      <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
    </ng-container>


    <ng-container matColumnDef="streetAddress">
      <th mat-header-cell *matHeaderCellDef> streetAddress </th>
      <td mat-cell *matCellDef="let element"> {{element.streetAddress}} </td>
    </ng-container>


    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> city </th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>

    <ng-container matColumnDef="zipcode">
      <th mat-header-cell *matHeaderCellDef> zipcode </th>
      <td mat-cell *matCellDef="let element"> {{element.zipcode}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> state </th>
      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>

    <ng-container matColumnDef="countryCode">
      <th mat-header-cell *matHeaderCellDef> countryCode </th>
      <td mat-cell *matCellDef="let element"> {{element.countryCode.countryCode}} </td>
    </ng-container>

    <ng-container matColumnDef="activityName">
      <th mat-header-cell *matHeaderCellDef> activityName </th>
      <td mat-cell *matCellDef="let element"> {{element.activity.activityName}} </td>
    </ng-container>

    <ng-container matColumnDef="companyName">
      <th mat-header-cell *matHeaderCellDef> companyName </th>
      <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
    </ng-container>


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">

        <button mat-icon-button (click)="openTimelineDialog(element)" matTooltip="View history">
          <mat-icon aria-hidden="false" fontIcon="timeline" ></mat-icon>
        </button>
        
        <button *ngIf="isReadOnly === false" mat-icon-button (click)="openEditDialog(element)" matTooltip="Edit">
          <mat-icon aria-hidden="false" fontIcon="edit" ></mat-icon>
        </button>
        
        <ng-container *ngIf="isReadOnly === false">
          <button *ngIf="element.isActive; else reactivateButton" mat-icon-button (click)="deactivate(element)" matTooltip="Deactivate">
            <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
          </button>
          <ng-template #reactivateButton>
            <button  mat-icon-button (click)="reactivate(element)" matTooltip="Reactivate">
              <mat-icon aria-hidden="false" fontIcon="medical_services" ></mat-icon>
            </button>          
          </ng-template>
        </ng-container>
        

      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
</div>