<h1 mat-dialog-title>Update Location {{location.locationId}} </h1>
<div mat-dialog-content class="form-fields-container">

        <!-- <mat-form-field appearance="fill">
            <mat-label>Average grade [2.0 - 5.0]</mat-label>
            <input matInput type="number" step="0.01" [(ngModel)]="data.student.average_grade">
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Hair color</mat-label>
            <input matInput [(ngModel)]="data.student.hair_color">
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Height [cm]</mat-label>
            <input matInput type="number" [(ngModel)]="data.student.height">
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Weight [kg]</mat-label>
            <input matInput type="number" [(ngModel)]="data.student.weight">
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Age [years]</mat-label>
            <input matInput type="number" [(ngModel)]="data.student.age">
        </mat-form-field> -->

</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- <button mat-button [mat-dialog-close]="data.student" cdkFocusInitial>Ok</button> -->
</div>